In [1]:
# Int
a = 5678
print(a,type(a))

5678 <class 'int'>

In [2]:
# Float
a = 4567.8765
print(a,type(a))

4567.8765 <class 'float'>

In [3]:
# Complex
a = 456 + 8j
print(a,type(a))

(456+8j) <class 'complex'>

In [4]:
# Str, double, triple
a = 'Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [5]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [6]:
# tuple
a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [7]:
# tuple
a = (2,3434,5,5467)
print(a,type(a))

(2, 3434, 5, 5467) <class 'tuple'>

In [8]:
a[2] = 4000

TypeError: 'tuple' object does not support item assignment

In [9]:
print(a)

(2, 3434, 5, 5467)

In [10]:
a = (3,544,5,346,567)

print(a[3])

346

In [11]:
a[3] = 900

TypeError: 'tuple' object does not support item assignment

In [12]:
a = list(a)
a[3] = 900
a = tuple(a)
print(a)

(3, 544, 5, 900, 567)

In [13]:
std_id = [1,1,2,2,2,2,23,3,3,3,4,4,45]

print(std_id)

[1, 1, 2, 2, 2, 2, 23, 3, 3, 3, 4, 4, 45]

In [14]:
std_id = list(set(std_id))
print(std_id)

[1, 2, 3, 4, 45, 23]

In [15]:
# dict:- key value pair datatype, # hash

a = {'Name':'Aman','Age':23,'Address':'Delhi'}
print(a,type(a))

{'Name': 'Aman', 'Age': 23, 'Address': 'Delhi'} <class 'dict'>

In [16]:
a['Address'] = 'Noida/Gr Noida'

In [17]:
print(a)

{'Name': 'Aman', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [18]:
a['Name'] = 'Aman Kumar'

In [19]:
print(a)

{'Name': 'Aman Kumar', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [20]:
data = {'Region':['West','East','North','South'],
        'Sales':[345,546,453,456],
        'Profit':[120,200,90,78]}

print(data)

{'Region': ['West', 'East', 'North', 'South'], 'Sales': [345, 546, 453, 456], 'Profit': [120, 200, 90, 78]}

In [21]:
import pandas as pd

table = pd.DataFrame(data)
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [22]:
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [23]:
a = True
print(a,type(a))

True <class 'bool'>

In [24]:
salary = 27800
if salary >= 50000:
  print('Manager')
elif salary >= 30000:
  print('Jr Manager')
elif salary >= 20000:
  print('Executive')
else:
  print('Intern')

Executive

In [27]:
import random
random.randint(10000,60000,5)

TypeError: Random.randint() takes 3 positional arguments but 4 were given

In [28]:
import numpy as np
database_salary = np.random.randint(10000,60000,5)

In [29]:
print(salary)

27800

In [30]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i, 'Manager')
  elif salary >= 30000:
    print(i, 'Jr Manager')
  elif salary >= 20000:
    print(i, 'Executive')
  else:
    print(i, 'Intern')

46357 Jr Manager
17711 Intern
24094 Executive
54902 Manager
57527 Manager

In [31]:
import time
for i in range(20):
  print(time.asctime())
  time.sleep(1)
  display(clear= True)

Mon Jul 21 23:11:13 2025

In [32]:
import random
comp_choice = random.randint(1,10)
user_choice = int(input('Enter your Choice(1-10): '))

print(f'''
User choice: {user_choice}
Computer Choice: {comp_choice}''')

if user_choice == comp_choice:
  print('User Won, Comp Lose!!')
else:
  print('Better Luck next time!!')

Enter your Choice(1-10):  4

User choice: 4
Computer Choice: 9
Better Luck next time!!

In [33]:
user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

Enter your Choice(1-10):  4

  User choice: 4
  Computer Choice: 6
Better Luck next time!!

Enter your Choice(1-10):  3

  User choice: 3
  Computer Choice: 2
Better Luck next time!!

Enter your Choice(1-10):  5

  User choice: 5
  Computer Choice: 5
User Won, Comp Lose!!

In [34]:
Questions[1]

NameError: name 'Questions' is not defined

In [35]:
def say_hello(name):
  print(f'Hello {name},','how are you??')

In [36]:
say_hello('Mohan')

Hello Mohan, how are you??

In [37]:
def vote(age):
  print('can Vote!!') if age >= 18 else print('can not Vote!!')

In [38]:
vote(3)

can not Vote!!

In [39]:
def sound_box(paisa,platform = 'Paytm'):
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [42]:
def vote(age):
    if age >= 18 and age<=65:
        print("You can vote.")
    else:
        print("You cannot vote.")

age = int(input("Enter your age: "))
vote(age)

Enter your age:  19

You can vote.