In [1]:
def check_palindrome(word):
    return word

In [2]:
check_palindrome('ajay')

'ajay'

In [3]:
a = 'lucky'
a [a::-1]

TypeError: slice indices must be integers or None or have an __index__ method

In [4]:
a='nitin'
if a ==a[::-1]:
    print(f'{a} is a palindrome')
else:
    print(f'{a} is not a Palindrome')

nitin is a palindrome

In [5]:
def check_palindrome(word):
    return word

In [6]:
a='raj'
if a==a[::-1]:
    print(f'{a} Palindrome')
else:
    print(f'{a} Not a Palindrome')

raj Not a Palindrome

In [7]:
def check_palindrome(word:str):
  if type(word) == str:
    word = word.upper()
    if word == word[::-1]:
      return 'Palindrome'
    else:
      return 'Not a Plaindrome'
  else:
    return 'Invalid Data Type'

In [8]:
check_palindrome('121')

'Palindrome'

In [9]:
def give_fibo(n):
    fibo=[0,1]
    for i in range(n-2):
        last_num=fibo[-1]
        second_last_num=fibo[-2]
        next_num=last_num+second_last_num
        fibo.append (next_num)
    return fibo

In [10]:
print(give_fibo(7))

[0, 1, 1, 2, 3, 5, 8]

In [11]:
def check_prime(number):
    for i in range(2,number):
        if number % i-0:
            return 'not a prime number'
            break
            print('happy holi')
        else:
            return'prime number'

In [12]:
check_prime(2)

In [13]:
n=5


print(' hello '*n)

 hello  hello  hello  hello  hello

In [14]:
n=9
for i in range(1,n+1):
   print(i*'*')

*
**
***
****
*****
******
*******
********
*********

In [15]:
n=10
for i in range(1,n+1):
        print('  '*(n-i)+i*'lol ')

                  lol
                lol lol
              lol lol lol
            lol lol lol lol
          lol lol lol lol lol
        lol lol lol lol lol lol
      lol lol lol lol lol lol lol
    lol lol lol lol lol lol lol lol
  lol lol lol lol lol lol lol lol lol
lol lol lol lol lol lol lol lol lol lol

In [16]:
def print_star(n=5,typ='left',shape=' *'):
    if typ=='left':
        space=''
    elif typ == 'right':
        space=' '
    elif typ =='mid':
        space=' '

    for i in range(1,n+1):
            print(space*(n-i)+i*f'{shape }')

In [17]:
print_star(6,'left')

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *

In [18]:

def sum_of_n_natural_numbers():
    result=0
    for i in range(1,n+1):
        result += i
        return result

In [19]:
sum_of_n_natural_numbers(10)

TypeError: sum_of_n_natural_numbers() takes 0 positional arguments but 1 was given

In [20]:
def total_sales(*args):
    #unpacing
    result=0
    for i in args:
        result +=i
    return result

In [21]:
sales=[1,2,3,4,69,7,77]
max_element=sales[0]
for i in sales[1:]:
    if max_element<i:
        max_element=i
print(max_element)

77

In [22]:
sales=[435,456,890,675,9]

#min(sales)
min_element=sales[0]
for i in sales[1:]:
    if i<min_element:
             min_element=i
print(min_element)

9

In [23]:
company = ['ola','uber','rapido','indrive','adani','tata']

# ['#OLA','#UBER','#RAPIDO']



def add_hashtag(*company):
  result = []
  for i in company:
    result.append('#'+i.upper())
  return result

In [24]:
add_hashtag('ola','uber')

['#OLA', '#UBER']

In [25]:

def add(*num):
    result = 0
    for i in num:
        result += i
    return result

In [26]:
add(12,56,67,98,7676,876,876)

9661

In [27]:
company = ['ola','uber','rapido','indrive','adani','tata']

# ['#OLA','#UBER','#RAPIDO']



def add_hashtag(*company):
  result = []
  for i in company:
    result.append('#'+i.upper())
  return result

In [28]:
def store_records(name,age,sec,roll_no,Class):
  data = {'Name':name,'Age':age,'Sec':sec,'Roll_NO':roll_no,'Class':Class}
  import pandas as pd
  result = pd.DataFrame(data,index = [0])
  return result

In [29]:
store_records('Mohan',21,'A',12,12)
store_records('Karan',21,'A',12,12)
store_records('Naman',21,'A',12,12)

    Name  Age Sec  Roll_NO  Class
0  Naman   21   A       12     12

In [30]:
def students_records(**kwargs):
    # print(kwargs)
    # try exception
    import pandas as pd
    try:
        result = pd.DataFrame(kwargs)
        return result
    except:
        result = pd.DataFrame(kwargs,index = [1])
        return result

In [31]:
students_records(Name = ['Komal','Mohan','Ajay'],
                 Age = [23,45,56],
                 Roll_No = [23,32,67],
                 Address = ['Noida','Delhi','Greater Noida'])

    Name  Age  Roll_No        Address
0  Komal   23       23          Noida
1  Mohan   45       32          Delhi
2   Ajay   56       67  Greater Noida

In [32]:
def sound_box(paisa,platform = 'Paytm'):
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()