In [1]:
pip install PyMySql

Requirement already satisfied: PyMySql in c:\users\hp\anaconda3\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymysql as py
print('done')

done

In [3]:
conn=py.connect(user ='root',
           password='1234',
           host='localhost',
           autocommit = True)

print('connection created successfully')

connection created successfully

In [4]:
cur = conn.cursor()
print('done')

done

In [6]:
query='''use  DAY5;'''

cur.execute(query)
print('done')

done

In [7]:
query='''create table Student_details
(
SID int not null,
student_name varchar(50),
course varchar(50),
Address varchar(50),
scholarship float
);'''

cur.execute(query)
print('done')

done

In [8]:
query='''insert into Student_details 
values
(101,"mohan sharma","BCA","delhi Janakpuri",5000),
(102,"mohan sharam","BCA","delhi vikaspuri",5500);
'''

cur.execute(query)
print('done')

done

In [9]:
n=3
for i in range(n):
    sid = int(input('enter RollNo/SID: '))
    name = input('Enter your Name: ')
    course=input('Enter your course: ')
    Address=input('Enter your Address: ')
    scholarship=float(input('Enter your Scholarship: '))
    
    q=f'''insert into Student_details values
    ({sid},"{name}","{course}","{Address}",{scholarship});
    '''
    
    cur.execute(q)
    print('record inserted successfully')
print('done')

enter RollNo/SID:  50
Enter your Name:  Mansi
Enter your course:  BCA
Enter your Address:  Rohini
Enter your Scholarship:  5000

record inserted successfully

enter RollNo/SID:  51
Enter your Name:  Madhav
Enter your course:  BCA
Enter your Address:  Rani bagh
Enter your Scholarship:  5000

record inserted successfully

enter RollNo/SID:  52
Enter your Name:  Nandini
Enter your course:  BCA
Enter your Address:  Rohini
Enter your Scholarship:  5000

record inserted successfully
done

In [10]:
query='''select * from Student_details;'''
cur.execute(query)

for i in cur.description:
    print(i)

record =cur.fetchall()

all_columns = []
for i in cur.description:
    all_columns.append(i[0])
all_columns



import pandas as pd
pd.DataFrame(record,columns=all_columns)

('SID', 3, None, 11, 11, 0, False)
('student_name', 253, None, 200, 200, 0, True)
('course', 253, None, 200, 200, 0, True)
('Address', 253, None, 200, 200, 0, True)
('scholarship', 4, None, 12, 12, 31, True)

   SID  student_name course          Address  scholarship
0  101  mohan sharma    BCA  delhi Janakpuri       5000.0
1  102  mohan sharam    BCA  delhi vikaspuri       5500.0
2   50         Mansi    BCA           Rohini       5000.0
3   51        Madhav    BCA        Rani bagh       5000.0
4   52       Nandini    BCA           Rohini       5000.0

In [11]:
all_columns = []
for i in cur.description:
    all_columns.append(i[0])
all_columns

['SID', 'student_name', 'course', 'Address', 'scholarship']

In [13]:
def show_records(db,table):
    query='''select * from {db}.{table};'''
    cur.execute(query)
    
    for i in cur.description:
        print(i)
    
    record =cur.fetchall()
    
    all_columns = []
    for i in cur.description:
        all_columns.append(i[0])
    all_columns
    
    
    
    import pandas as pd
    df=pd.DataFrame(record,columns=all_columns)
    return df

In [14]:
show_records('DAY5','student_details')

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'db}.{table}' at line 1")