In [4]:
'''Q1 
The main difference between list and tuples is that 
list is mutable and tuples are immutable
list is enclosed in sqaure brackets ([]) and tuples are closed with in round brackets ()
example of lists '''
l1 = ['hello','namaste','hola']
print(l1)
''' example of tuples '''
t1 = ('one','two','three')
print(t1)

['hello', 'namaste', 'hola']
('one', 'two', 'three')

In [5]:
'''Q2  
The input function in python is used when we allow the user to enter the data into a variable for its further use
It can return string and integers
using input to convert it into an integer'''
n = int(input("Enter a number"))
print(n)

Enter a number 10

In [9]:
'''Q3 
Dictionaries is a datatype in python which is used to store data using key value pairs
dictionaries are stored in curly brackets ({}) and keys and values are separated using a colon (:)
the values can be accessed using the keys of the dictionary 
examples of dictionary'''
dict = {1:'one',2:'two',3:'three'}
print(dict)
#accession of a value
dict[2]

{1: 'one', 2: 'two', 3: 'three'}

'two'

In [14]:
'''Q4 
A for loop in python is used to repeate a particular block of code without repeating the whole block of code multiple times
example of for loop'''
for i in range(1,6):
    print(i)

1
2
3
4
5

In [17]:
''' Q5
Exception handling in python is referred to as the process of handling errors in a code by placing try, except and finally blocks
try is placed where an error is excepected in a code
except is proceeded by try and can not be used on its own it is used to catch the errors
finally is a block that is place to always execute the block of code'''
try:
    result = 10/0
    print(result)
except ZeroDivisionError:
    print('Error! cannot divide')
finally:
    print('this the final')

Error! cannot divide
this the final

In [20]:
'''Q6
Python modules are files which are imported by the user and can also built by the user 
these are files which contains various functions and methods which make programming easiers
in python we have modules such as pandas, numpy, matplotlib etc
in 'import math' we are importing the whole module where we can use all the functions of a module
in 'from math import sqrt' we are only importing the sqrt function from math module and can only use that particular function only'''
import math
math.factorial(5)
from math import sqrt
math.sqrt(100)

10.0

In [22]:
''' Q7:
Object Oriented programming python consists of classes and objects 
in OOPS classes consists of various functions which are then used by the objects/instances
'''
class animals():
    def herbivores(self):
        print('goat is a herbivores animal')
    def carnivores(self):
        print('lion is a carnivores animal')

an = animals()
an.carnivores()

lion is a carnivores animal

In [ ]:
''' Q8 '''
result = [x * 2 for x in range(10) if x % 2 == 0]
print(result)

In [24]:
''' Q9 '''
def calculate_area(r):
    a = 3.14 * (r*r)
    print(f'The area of the given radius is, {a}')
r=int(input('Enter the radius'))
calculate_area(r)

Enter the radius 5

The area of the given radius is, 78.5

In [26]:
''' Q10 '''
def intro(*kargs):
    n = input('Enter your name')
    a = int(input('Enter your age'))
    print(f"Hello {n}, you are {a} years old!")
intro()

Enter your name Mansi
Enter your age 19

Hello Mansi, you are 19 years old!

In [42]:
''' Q11'''
fruits = ['Pineapple','Mango','Grapes','Kiwi','Orange']
l = len(fruits)
for i in range(l):
    print(i+1,fruits[i])

1 Pineapple
2 Mango
3 Grapes
4 Kiwi
5 Orange

In [45]:
''' Q12 '''
def grade_calculator(*kwargs):
    m= int(input('Enter your grade'))
    if (m>=90) and (m<=100):
        print('A grade')
    elif (m>=80) and (m<=89):
        print('B grade')
    elif (m>=70) and (m<=79):
        print('C grade')
    elif (m>=60) and (m<=69):
        print('D grade')
    elif (m<=60):
        print('F grade')
    else:
        print('Invalid Score')
for i in range(3):
    grade_calculator()

Enter your grade 98

A grade

Enter your grade 110

Invalid Score

Enter your grade 45

F grade

In [59]:
''' Q14 '''
class BankAccount:
    def __init__(self):
        print("Account holder Name = Mansi Arora")
        bal = 50000
        print("Starting balance =", bal)

    def deposit_money(self):
        d= int(input("Enter the amount to be deposited"))
        new_bal = d+bal
        print(f"New balance is {new_bal}")
        
    def withdraw_money(self):
        bal = 50000
        if bal>=20000:
            print("You can withdraw money")
        w = int(input("How much do you wish to withdraw"))
        print(f"{w} withdrawn succesfully")
        new_bal = new_bal-w

    def current_balance(self):
        print(f'The current balance is {new_bal}')

user = BankAccount()
user.current_balance()

Account holder Name = Mansi Arora
Starting balance = 50000

NameError: name 'new_bal' is not defined

In [64]:
''' Q15'''
for i in range(1, 51):
    if i < 2:
        print('not prime')
    else:
        for j in range(2, int(i/2) + 1):
            if i % j == 0:
                print('not prime')
                break
        else:
            print(i)

not prime
2
3
not prime
5
not prime
7
not prime
not prime
not prime
11
not prime
13
not prime
not prime
not prime
17
not prime
19
not prime
not prime
not prime
23
not prime
not prime
not prime
not prime
not prime
29
not prime
31
not prime
not prime
not prime
not prime
not prime
37
not prime
not prime
not prime
41
not prime
43
not prime
not prime
not prime
47
not prime
not prime
not prime